<?php

return [
    'neworleans' => [
        'name' => 'ORG NAME',
        'logo' => '/assets/img/ORG/logo.png',
        'active' => true,
        'connection' => [
            'driver'   => 'mongodb',
            'host'     => 'mongo',
            'database' => 'budgetgame_dev',
            'username' => 'budgetgame',
	    'password' => "budgetgamepass",
	    'options' => [
		    'database' => 'budgetgame_dev'
		]
        ],
	'city' => 'New Orleans',
	'state' => 'LA',
	'theme' => [
		'banner-img' => 'french-quarter.jpg',
		'logo-img' => 'logo.gif'
	]
    ]
];
